#wrapper{
    padding:1em;
    width: 50%;
    height: 90%;
    border: 4px solid blue;
    float: left;  
}
#column {
    width: 45%;
    height: 100%;
    float: left; 
    margin-left: 20px; 
    margin-bottom: 5px; 
}
#column1{
    width:300px; 
    float: right;
    font-family: helvetica,Arial;
    margin-bottom: 5px; 
    
}
input , button{
    border: 1px solid rgb(217, 214, 214);
    width:80%;
}
#todos{
    width: 90%;
    height: 100px;
    overflow: hidden;
    border: 1px solid rgb(123, 123, 123);
    list-style-type: none;
    margin: 0px;
    padding: 1px;
}
